; {{ ansible_managed }}

{% for section_name, section_data in php_fpm_config_main.iteritems() %}
[{{ section_name }}]
{% for key, value in section_data.iteritems() %}
{{ key }} = {{ value }}
{% endfor %}
{% endfor %}

include = {{ php_fpm_config_base }}/pool.d/*.conf
