;{{ ansible_managed }}

[{{ item.name }}]

{% for key_lv1, value_lv1 in ((php_fpm_pool_defaults | default(dict())).items() + item.items()) if key_lv1 != 'name' %}
{% if value_lv1 is mapping -%}
{% for key_lv2, value_lv2 in value_lv1.iteritems() %}
{{ key_lv1 }}[{{ key_lv2 }}] = {{ value_lv2 }}
{% endfor %}
{% elif (value_lv1 is iterable) and (value_lv1 is not string) %}
{{ key_lv1 }} = {{ value_lv1 | join(',') }}
{% else %}
{{ key_lv1 }} = {{ value_lv1 }}
{% endif %}
{% endfor %}
